.App {
  text-align: center;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin: 15px;
}

.leftSide-navbar {
  display: flex;
  flex-direction: row;
  background-color: aqua;
}

.rightSide-navbar {
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
}
